<div class="container-fluid bg1">
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 main">
          <div class="container-fluid">
            <h1> Shamgar Placements Management </h1>
            <hr>
            <h2><span class="glyphicon glyphicon-star-empty"></span> Employee Details </h2>
            <form name="form" class="form-horizontal" ng-submit="m.dash(s)" novalidate>
              <input class="form-control" ng-model="m.s.name" placeholder="Enter Name.. " required>
              <input class="form-control" ng-model="m.s.place" placeholder="Enter Place.. " required>
              <input class="form-control" ng-model="m.s.quali" placeholder="Enter Qualification.. " required>
              <select class="form-control" ng-model="m.s.jtype" required>
                <option value="" disabled selected hidden>Choose JobType...</option>
                <option>job1</option>
                <option>job2</option>
                <option>job3</option>
                <option>job4</option>
                <option>job5</option>
                <option>job6</option>
                <option>job7</option>
                <option>job8</option>
              </select>
              <select class="form-control" ng-model="m.s.rtype" required>
                <option value="" disabled selected hidden>Choose Referrer...</option>
                <option>SatyaNarayana</option>
                <option>Venkat</option>
                <option>Jyothi</option>
                <option>Bhavani</option>
              </select>
              <button ng-disabled="form.$error.required" type="submit" class="btn btn-info pull-right">Send</button>
            </form>
          </div>
          <hr>
          <div class="bottom">
            <a href="#">Terms & Conditions</a>
            <a href="#">Copy Right</a>
          </div>
        </div>
        <div class="col-sm-3">
        </div>
        </div>
    </div>
    <div class="col-sm-2">

    </div>
  </div>
</div>
<footer>
   <h2> ThankYou... Visit Again </h2>
</footer>
